Header{
    background-color: rgb(25, 20, 42);}
   
  .Header{
    display: flex;
    justify-content: space-around;
  }
  
  .Anillos{
    width: 170px;
    display: flex;
    justify-items: initial;
    position: relative;
    left: -50px;
  }
  
  .Nav a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    transition: background;
    cursor: pointer;
   }
  
   .Nav a:hover{
    background: rgb(214, 34, 59);
    border-radius: 5px ;
   }
  
   Nav{
     margin-top: 60px;
   }