/*FORMULARIO*/

.Form{
    background-color: rgb(25, 20, 42);
    color: white;
    padding-top: 80px;
  }
  
  .Completo{
    display: flex;
    justify-content: space-around;
  }
  
  .Contactame{
    padding-left: 10px;
  }
  
  .Contactame h1{
    font-size: 40px;
    font-weight: lighter;
    font-family: "DM Serif Display", serif;
    font-style: normal;
  }
  
  
  .Contactame h2{
    font-size: 20px;
    font-weight: 10px;
    padding-top: 20px;
  
  }
  
  .Contactame h3{
    color: gray;
    font-size: 20px;
    
  }
  
  .Contactame p{
    font-size: 25px;
    
  }
  
  .Contactame img{
    position: relative;
    top: 53px;
    right:56px;
    width: 24px;
    background-color: rgb(213, 34, 58);
    border-radius: 18px;
    padding: 8px;
  }
  
  .Formulario{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  
  .Formulario h1{
    font-size: 40px;
    font-weight: lighter;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    padding-bottom: 20px
  }
  
  .NombreEmail input{
    background-color: rgb(25, 20, 42);
    color: gray;
    border:solid gray 1px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin:10px 10px;
    
  }
  
  .NumeroPresupuesto input{
    background-color: rgb(25, 20, 42);
    color: gray;
    border:solid gray 1px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin:10px 10px;
  }
  
  .Mensaje{
    background-color: rgb(25, 20, 42);
    color: gray;
    border:solid gray 1px;
    width: 437px;
    height: 107px;
    border-radius: 5px;
    position: relative;
    left: 7px;
    
  }
  
  .Boton button{
    display: flex;
    justify-content: start;
    margin-top: 40px;
    background-color: rgb(213, 34, 58);
    color: white;
    border-radius: 5px;
    padding: 20px 50px;
    border: none;
    cursor: pointer;
  }
  
  
  /*DI HOLA*/
   
  .Di-hola{
    background-color: rgb(42, 35, 68);
    text-align: center;
  }
  
  
  
  .Di-hola h1{
    font-size: 60px;
     font-style: normal;
    font-family: "DM Serif Display", serif;
    font-weight: lighter;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  
  .Di-hola img{
    width: 40px;
    padding: 60px 40px;
  }
  
  .Di-hola a{
    text-decoration: none;
    color: white;
  }
  
  .IconFinal{
    padding-bottom: 60px;
  }